.tileSelectorPanel {
    width: 300px;
    padding: 20px;
    background: rgb(7,7,22);
    color: white;
    grid-area: sidebar;
    max-height: 100%;
    overflow-y: scroll;
    font-size: 12px;
}

.selectableTile {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}