body {
  background: #233D4D;
}

.mainApp {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "control control"
    "sidebar tilegrid"
  ;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.color-gold {
  color: gold;
}

.cursor-pointer {
  cursor: pointer;
}